Console output: Live reload enabled.body{ padding-top: 50px; }
div{ max-width: 50%; margin: auto; background-color: aqua; }
.number-1, .number-2, .number-3{ height: 200px; background-color: rgb(255, 228, 196); }
.number-4{ height: 300px; background-color: red; }